#_pendo_g_evR3drhmQTnppPEjY0MGVsQs5YU {
  /* --- Selectors from Global CSS --- */
}
#_pendo_g_evR3drhmQTnppPEjY0MGVsQs5YU h1 {
  color: #78B71A;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin-bottom: 14px;
  font-family: BhrHeaderFont, Helvetica, Arial, sans-serif;
  letter-spacing: normal;
}
#_pendo_g_evR3drhmQTnppPEjY0MGVsQs5YU p {
  color: #333;
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 4px;
  text-align: center;
}
#_pendo_g_evR3drhmQTnppPEjY0MGVsQs5YU .Pendo_Modal__content {
  font-family: "Source Sans Pro" !important;
  font-size: 14px !important;
  padding: 20px !important;
}
#_pendo_g_evR3drhmQTnppPEjY0MGVsQs5YU .Pendo_Modal__titleBar {
  background: #3a3a3a !important;
  border: 1px solid #000 !important;
  border-radius: 3px 3px 0 0 !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  padding: 8px 8px !important;
}
#_pendo_g_evR3drhmQTnppPEjY0MGVsQs5YU .Pendo_HeaderFont {
  font-family: BhrHeaderFont, Helvetica, Arial, sans-serif;
  letter-spacing: normal;
}
#_pendo_g_evR3drhmQTnppPEjY0MGVsQs5YU .Pendo_Modal__title {
  color: #fff !important;
  margin: 2px 0 1px !important;
}
#_pendo_g_evR3drhmQTnppPEjY0MGVsQs5YU ._pendo-guide-container_ {
  /* Guide border, shadow, background, etc. */
  border: none !important;
  border-radius: 3px !important;
  box-shadow: 0 0 75px 0 rgba(255, 255, 255, 0.3), 0 0 0 4px rgba(0, 0, 0, 0.7) !important;
  padding: 0 !important;
  width: auto !important;
}
#_pendo_g_evR3drhmQTnppPEjY0MGVsQs5YU ._pendo-guide-container_ ._pendo-guide-content_ {
  /* Content area: use for font attributes, padding, etc. */
  text-align: left;
  padding: 0;
}
#_pendo_g_evR3drhmQTnppPEjY0MGVsQs5YU ._pendo-guide-container_ ._pendo-close-guide_ {
  /* Close guide icon */
  background: #292929 !important;
  border: 1px solid #050505 !important;
  border-radius: 2px !important;
  outline: none !important;
  height: 20px;
  width: 20px;
  margin: 5px 0 0 0;
}
#_pendo_g_evR3drhmQTnppPEjY0MGVsQs5YU ._pendo-guide-container_ ._pendo-close-guide_:hover {
  /* Close guide icon hover effects*/
  color: #555555;
}
