#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA {
  /* --- CSS for This Template --- */
  /* --- Selectors from Global CSS --- */
  /* -- Pointer at edge of tooltip -- */
}
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA h1 {
  color: #73C41D;
  font-family: BhrHeaderFont,Trebuchet MS;
  font-size: 18px;
  margin: 0 0 12px 0;
}
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA p {
  color: #777777;
  font-size: 14px;
}
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA a {
  color: #006EC2;
}
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA a:hover {
  color: #006EC2;
  text-decoration: underline;
}
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-guide-container_ {
  /* -- Guide border, shadow, background, etc. -- */
  border-radius: 6px;
  background-color: white;
  padding: 20px;
  color: #777777;
  font-size: 14px;
  line-height: 140%;
  font-weight: 300;
  border: 2px solid #00B6DC;
  box-shadow: 0px 0px 12px #999;
}
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-guide-container_ ._pendo-guide-content_ {
  /* -- Content area -- use for font attributes, padding, etc. */
  text-align: left;
  padding: 0;
}
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-guide-container_ ._pendo-close-guide_ {
  /* Close guide icon */
  display: inline;
  font-size: 28px;
  font-weight: 100;
  top: 6px;
  right: 15px;
  color: #777;
}
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-guide-container_ ._pendo-close-guide_:hover {
  /* Close guide icon hover effects*/
  color: #222;
}
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-guide-arrow_,
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-guide-arrow-border_ {
  position: absolute;
  font-size: 0;
  line-height: 0;
  margin: 0;
  width: 0;
  height: 0;
  padding: 0;
  border-style: solid;
}
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-guide-arrow-top_,
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-guide-arrow-border-top_ {
  border-top: 0;
  border-left-color: transparent;
  border-right-color: transparent;
}
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-guide-arrow-left_,
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-guide-arrow-border-left_ {
  border-left: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-guide-arrow-right_,
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-guide-arrow-border-right_ {
  border-right: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-guide-arrow-bottom_,
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-guide-arrow-border-bottom_ {
  border-bottom: 0;
  border-right-color: transparent;
  border-left-color: transparent;
}
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-guide-arrow_ {
  z-index: 100;
}
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-guide-arrow-top_ {
  border-bottom-color: #fff;
  top: 3px !important;
}
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-guide-arrow-left_ {
  border-right-color: #fff;
  left: 2px !important;
}
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-guide-arrow-right_ {
  border-left-color: #fff;
  right: 2px !important;
  left: auto !important;
}
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-guide-arrow-bottom_ {
  border-top-color: #fff;
  bottom: 2px !important;
  top: auto !important;
}
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-guide-arrow-border-top_ {
  border-bottom-color: #00B6DC;
}
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-guide-arrow-border-left_ {
  border-right-color: #00B6DC;
}
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-guide-arrow-border-right_ {
  border-left-color: #00B6DC;
}
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-guide-arrow-border-bottom_ {
  border-top-color: #00B6DC;
}
#_pendo_g_xDRIPsRvitZKie32YUx9Zx4m6qA ._pendo-credits_ {
  display: none;
}
